body {
    padding-top: 60px;
    padding-bottom: 40px;
    background-color: #eee;
}
.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}
.form-signin .checkbox {
    font-weight: normal;
}
.form-signin .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}
.form-signin .form-control:focus {
    z-index: 2;
}
.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

/*----My changes----*/

.btn-primary:hover, .btn-primary:active, .btn-primary:target, .btn-primary.focus, .btn-primary:focus  {
    color: #555;
    background-color: rgb(190, 222, 200);
    border-color: rgb(190, 222, 200);
}
.btn-primary {
    color: #7c8480;
    background-color: rgb(206, 232, 216);
    border-color: rgb(206, 232, 216);
}
.btn-primary.active.focus, .btn-primary.active:focus, .btn-primary.active:hover, .btn-primary:active.focus, .btn-primary:active:focus, .btn-primary:active:hover, .open>.dropdown-toggle.btn-primary.focus, .open>.dropdown-toggle.btn-primary:focus, .open>.dropdown-toggle.btn-primary:hover {
    color: #555;
    background-color: rgb(190, 222, 200);
    border-color: rgb(190, 222, 200);
}
.form-control:focus {
    border-color: rgb(190, 222, 200);
}
.form-signin .form-signin-heading, .form-signin .checkbox {
    color: #7c8480;
}